div {
    border: 10px solid darkcyan;
    margin: 10px;
    width: 150px;
    height: 150px;
  }
  
  #red {
    background-color: red;
  }
  
  #green {
    background-color: green;
  }
  
  #blue {
    background-color: blue;
  }
  
  #orange {
    background-color: orange;
  }
  
  #purple {
    background-color: purple;
  }
  
  #brown {
    background-color: brown;
  }
  
  /* START BELOW THIS LINE */
  #red {
    transition: width 3s;
  }
  
  #red:hover {
    width: 300px;
  }
  
  #green {
    transition: background-color 0s, transform 2s ease 1s;
  }

  #green:hover {
    background-color: yellow;
    transform: rotate(360deg);
  }

  #blue {
    animation: expand 8s ease-in-out;
  }

  @keyframes expand {
    0% {
      width: 150px;
    }
    50% {
      width: 450px;
    }
    100% {
      width: 150px;
    }
  }


  #orange {
    transition: transform 5s ease-in;
  }
  #orange:hover {
    transform: rotate(1080deg);
  }
  #orange:not(:hover) {
    transform: rotate(-1080deg);
  }
  
  #purple {
    animation: circle 2s forwards;
  }
  
  @keyframes circle {
    0% {
      border-radius: 0;
    }
    100% {
      border-radius: 85px;
    }
  }
  

